.HomeHeader {
  --home-header-height: 734px;

  height: var(--home-header-height);
}

.BackgroundGradient {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  /* background: linear-gradient(180deg, #2600ff 0%, #9059cb 50%, #ea36b8 100%); */
  background: linear-gradient(135deg, #ff5800 0%, #cb59ab 50%, #ea36b8 100%);
  /* 
  background: linear-gradient(135deg, #acb6e5 0%, #86fde8 100%); */
  /* background: linear-gradient(135deg, #e0eafc 0%, #cfdef3 100%);
  background: linear-gradient(135deg, #fad0c4 0%, #ffd1ff 100%);
  background: linear-gradient(135deg, #e6dada 0%, #274046 100%); */
}

.HomeHeaderHeadline {
  margin-top: 45px;
  color: white;
  font-size: 92px;
  font-weight: 400;
  line-height: 85px;
  text-align: center;
  word-wrap: break-word;
}

.HomeHeaderParagraph {
  margin: 35px 0;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  word-wrap: break-word;
}

.HomeHeaderCta {
  display: flex;
  justify-content: center;
  margin: 16px 0 52px;
}
