.HomeHeader {
  --home-header-height: 734px;

  height: var(--home-header-height);
}

.BackgroundGradient {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  background: linear-gradient(180deg, #ff5800 0%, #cb59ab 100%, #ea36b8 100%);
}

.HomeHeaderHeadline {
  margin-top: 45px;
  color: white;
  font-size: 92px;
  font-weight: 400;
  line-height: 85px;
  text-align: center;
  word-wrap: break-word;
}

.HomeHeaderParagraph {
  margin: 35px 0;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  word-wrap: break-word;
}

.HomeHeaderCta {
  display: flex;
  justify-content: center;
  margin: 16px 0 52px;
}
